@charset "UTF-8";
body {
  box-sizing: border-box;
  margin: 0;
  font-size: 0.875rem;
  color: #222222;
  line-height: 1.4;
  letter-spacing: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 1.25rem;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

::before,
::after {
  box-sizing: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  vertical-align: middle;
  text-align: inherit;
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.header {
  box-shadow: 0 3px 3px #999999;
  padding: 1.4285714286em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 85;
  width: 100vw;
  background-color: #4169e1;
}
.header__flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__item {
  color: #DFDFDF;
  margin-right: 1.4285714286em;
  list-style: none;
  opacity: 1;
}
.header__item:hover {
  opacity: 0.5;
}
.header__title {
  color: #ffffff;
}

.first {
  padding: calc(45vh - 126px) 0;
  height: 90vh;
}
.first__title {
  font-size: 5rem;
  color: #999999;
  text-align: center;
}
.first__subtitle {
  font-size: 1.25rem;
  color: #999999;
  text-align: center;
}

.works {
  text-align: center;
  background-color: #a9ceec;
  padding-bottom: 2.8571428571em;
}
.works__inner {
  width: 95%;
  max-width: 2000px;
  margin: 0 auto;
}
.works__title {
  margin: 0 0 1.6666666667em;
  padding-top: 2.5em;
  font-size: 1.5rem;
  font-weight: bold;
}
.works__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.works__card {
  width: 26vw;
  margin: 0 1.25em 1.25em 0;
  text-align: left;
}
.works__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.1111111111em auto;
  padding: 0.5555555556em;
  color: #222222;
  font-size: 1.125rem;
  background-color: #ffffff;
  border-radius: 1.2222222222em;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #222222 0%, #222222 50%, #DFDFDF 50%, #DFDFDF 100%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  transition: background-position ease 0.4s;
}
.works__link:hover {
  color: #DFDFDF;
  background-position: 0 0;
}
.works__more {
  margin: 0 auto;
  width: 60vw;
}

.card__image {
  transition: all 0.2s;
  aspect-ratio: 4/3;
}
.card__image:hover {
  transform: rotateZ(5deg) scale(1.05, 1.05);
}
.card__image:hover:before {
  width: 200%;
}
.card__title {
  margin-top: 0.5555555556em;
  font-size: 1.125rem;
  font-weight: bold;
}
.card__text {
  margin-top: 0.625em;
  font-size: 1rem;
}

.skill {
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 2.8571428571em;
}
.skill__inner {
  width: 95%;
  max-width: 2000px;
  margin: 0 auto;
}
.skill__title {
  margin: 0 0 1.6666666667em;
  padding-top: 2.5em;
  font-size: 1.5rem;
  font-weight: bold;
}
.skill__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.skill__content {
  text-align: left;
}

.content__title {
  margin-top: 0.5555555556em;
  font-size: 1.125rem;
  font-weight: bold;
}
.content__text {
  width: 40vw;
  margin-top: 0.625em;
  font-size: 1rem;
}

.about {
  text-align: center;
  background-color: #a9ceec;
  padding-bottom: 2.8571428571em;
}
.about__inner {
  width: 95%;
  max-width: 2000px;
  margin: 0 auto;
}
.about__title {
  margin: 0 0 1.6666666667em;
  padding-top: 2.5em;
  font-size: 1.5rem;
  font-weight: bold;
}
.about__flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 60vw;
  margin: auto;
}
.about__image {
  border-radius: 50%;
}
.about__imglink {
  transition: all;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
.about__imglink:hover {
  transform: rotateZ(360deg);
}
.about__text {
  margin: 0 0 1.25em 1.25em;
  font-size: 1rem;
  text-align: left;
}
.about__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.1111111111em auto;
  padding: 0.5555555556em;
  color: #222222;
  font-size: 1.125rem;
  background-color: #ffffff;
  border-radius: 1.2222222222em;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #222222 0%, #222222 50%, #DFDFDF 50%, #DFDFDF 100%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  transition: background-position ease 0.4s;
}
.about__link:hover {
  color: #DFDFDF;
  background-position: 0 0;
}

.footer {
  text-align: center;
  padding: 2.5em;
  background-color: #4169e1;
}
.footer__small {
  font-size: 0.875rem;
  color: #ffffff;
}

.product {
  text-align: center;
  padding-top: 10em;
  margin-bottom: 2.5em;
}
.product__inner {
  width: 50%;
  max-width: 2000px;
  margin: 0 auto;
}
.product__title {
  font-size: 1.875rem;
  margin-bottom: 1.3333333333em;
}
.product__subtitle {
  font-size: 1.5rem;
  margin-bottom: 0.8333333333em;
  padding: 0.4166666667em 0 0.4166666667em 0.8333333333em;
  border-left: #999999 5px solid;
  border-bottom: #222222 1px solid;
}
.product__main {
  text-align: left;
  padding-bottom: 2.5em;
}
.product__image {
  margin-bottom: 2.8571428571em;
}
.product__text {
  font-size: 1.125rem;
  margin-bottom: 2.2222222222em;
}
.product__linktext {
  font-size: 1.125rem;
  margin-bottom: 2.2222222222em;
  text-decoration: underline;
  transition: all 0.5s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.product__linktext:hover {
  text-decoration: none;
}
.product__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.1111111111em auto;
  padding: 0.5555555556em;
  color: #222222;
  font-size: 1.125rem;
  background-color: #ffffff;
  border-radius: 1.2222222222em;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #222222 0%, #222222 50%, #DFDFDF 50%, #DFDFDF 100%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  transition: background-position ease 0.4s;
}
.product__link:hover {
  color: #DFDFDF;
  background-position: 0 0;
}
.product__code {
  overflow: scroll;
  background-color: #a9ceec;
}

.aboutmore {
  text-align: center;
  padding-bottom: 2.8571428571em;
}
.aboutmore__inner {
  width: 70%;
  max-width: 2000px;
  margin: 0 auto;
}
.aboutmore__title {
  margin: 2.8333333333em 0 1.6666666667em;
  padding-top: 2.5em;
  font-size: 1.5rem;
  font-weight: bold;
}
.aboutmore__flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 60vw;
  margin: auto;
}
.aboutmore__heading {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1.25rem;
  text-align: left;
  border-left: #222222 5px solid;
}
.aboutmore__image {
  border-radius: 50%;
  margin-bottom: 2.8571428571em;
}
.aboutmore__text {
  margin: 0 0 1.25em;
  font-size: 1rem;
  text-align: left;
}
.aboutmore__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.1111111111em auto;
  padding: 0.5555555556em;
  color: #222222;
  font-size: 1.125rem;
  background-color: #ffffff;
  border-radius: 1.2222222222em;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #222222 0%, #222222 50%, #DFDFDF 50%, #DFDFDF 100%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  transition: background-position ease 0.4s;
}
.aboutmore__link:hover {
  color: #DFDFDF;
  background-position: 0 0;
}
.aboutmore__table {
  border-collapse: collapse;
}

.table__yeartitle {
  font-size: 1.375rem;
  font-weight: bold;
}
.table__eventtitle {
  font-size: 1.375rem;
  font-weight: bold;
}
.table__year {
  width: 20%;
  border-right: #222222 2px solid;
  border-bottom: #222222 2px solid;
}
.table__event {
  padding: 0.7142857143em;
  text-align: left;
  border-bottom: #222222 2px solid;
}

@media (max-width: 430px) {
  h1 {
    font-size: 1rem;
    margin: 0.625em;
  }
  .header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
  }
  .header__list {
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    position: fixed;
    top: -16vh;
    right: 0;
    width: 100%;
    height: 16vh;
    margin-left: auto;
    color: #222222;
    background-color: #a9ceec;
    transition: 0.5s;
  }
  .header__item {
    color: #222222;
    opacity: 1;
    width: 100%;
    height: 100%;
    /* メニューテキスト位置をリスト内中心に */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1.4285714286em;
  }
  .header__button {
    position: fixed;
    top: -0.25em;
    right: 0.625em;
    width: 3.5714285714em;
    height: 3.5714285714em;
    z-index: 10;
  }
  .header__open {
    top: 0;
  }
  .button__line {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 60%;
    height: 0.25em;
    background-color: #DFDFDF;
    transition: 0.2s;
    text-align: center;
  }
  .button__line::before {
    margin: 0 auto;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #DFDFDF;
    transition: 0.5s;
    transform: translate(-15px, -12px);
  }
  .button__line::after {
    margin: 0 auto;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #DFDFDF;
    transition: 0.5s;
    transform: translate(-15px, 12px);
  }
  .button__line.header__open {
    background-color: transparent;
  }
  .button__line.header__open::before {
    background-color: #222222;
    transform: rotate(45deg) translate(-12px, 12px);
  }
  .button__line.header__open::after {
    background-color: #222222;
    transform: rotate(-45deg) translate(-12px, -12px);
  }
  .first {
    padding: calc(25vh - 56px) 0;
    height: 50vh;
  }
  .first__title {
    font-size: 2.5rem;
  }
  .first__subtitle {
    display: none;
  }
  .works {
    padding-bottom: 1.4285714286em;
    text-align: center;
  }
  .works__title {
    font-size: 1.25rem;
  }
  .works__flex {
    display: block;
  }
  .works__card {
    width: 80vw;
    margin: 0 auto 1.25em;
  }
  .works__more {
    margin: 0 auto;
  }
  .card__image {
    opacity: 1;
  }
  .about__flex {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .about__image {
    margin-bottom: 1.875em;
  }
  .about__text {
    margin: 0 auto;
    font-size: 1rem;
    text-align: left;
  }
  .product {
    padding-top: 11.25em;
    margin-bottom: 2.5em;
  }
  .product__inner {
    width: 95%;
  }
  .product__subtitle {
    font-size: 1.25rem;
    margin-bottom: 1em;
    padding: 0.5em 0 0.5em 0.5em;
  }
  .product__main {
    text-align: left;
    padding-bottom: 2.5em;
  }
  .product__image {
    margin-bottom: 2.8571428571em;
  }
  .product__text {
    font-size: 1.125rem;
    margin-bottom: 2.2222222222em;
  }
  .product__link {
    color: #00bbbb;
    font-size: 1.25rem;
  }
  .product__link:hover {
    opacity: 0.5;
  }
}
/*# sourceMappingURL=style.css.map */